[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/opensourcebr
[access "refs/for/refs/*"]
	read = group user/opensourcebr
	push = group user/opensourcebr
	label-Code-Review = -2..+2 group user/opensourcebr
	label-Verified = -1..+1 group user/opensourcebr
	rebase = group user/opensourcebr
	removeReviewer = group user/opensourcebr
	submit = group user/opensourcebr
[access "refs/heads/*"]
	read = group user/opensourcebr
	create = group user/opensourcebr
	push = +force group user/opensourcebr
	pushMerge = group user/opensourcebr
[access "refs/tags/*"]
	push = +force group user/opensourcebr
	pushTag = group user/opensourcebr
	pushSignedTag = group user/opensourcebr
